@model IEnumerable<kurumsalWeb.Models.tbHizmet>

                <!-- Item Project and Filter Name -->
                @foreach (var item in Model)
                {
                    <li class="col-lg-3 design" data-id="id-0" data-type="web">
                        <div class="item-thumbs">
                            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="~/@item.resimUrl">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <!-- Thumb Image and Description -->
                            <img src="~/@item.resimUrl" alt="@item.baslik">
                        </div>
                    </li>
                }

                <!-- End Item Project -->
